<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
    <!-- aylor  -->
    <a href="/profile">Home</a>
    <a href="/about">About</a>
</nav>
<body>
<section>
    <h1>HOW CAN I HELP?</h1>
    <h2>What are we about?</h1>
    <p>
        One challenge that non-profit organizations face is managing volunteers. 
        Our app seeks to allow a volunteer coordinator the ability to create an event 
        with tasks so that volunteers can sign up to help out. While we built 
        this app with non-profits in mind, any company or private individual can 
        use this app to manage events.
    </p>
    <p>For organizers, create an account and start planning your events. For volunteers, 
        login and find an event to start pitching in to better your community. 
    </p>

    <div class="partners">Created by : 
            <a href="https://github.com/aylorbrown" target="_blank">Aylor Brown,</a>  
            <a href="https://github.com/evanscatie" target="_blank">Catie Evans,</a> 
            <a href="https://github.com/Travis-Franklin" target="_blank">Travis Franklin</a>
     </div>
</section>
</body>
</html>