<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<nav>
    <!-- aylor  -->
    <a href="/home">Home</a>
    <a href="/about">About</a>
</nav>
<body>
<section>
    <section>
        <h1>Nonprofit Atlanta connects volunteers to nonprofit organizations in need. Organizations are able to create events and tasks, while volunteers can sign-up for those events and tasks. 
        </h1>

</section>
    
</body>
</html>