<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse Events</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
    <!-- aylor -->
    <a href="/profile">Home</a>
    <a href="/about">About</a>
</nav>
<body>
    <div>

        <h1 class="text-center">Browse Events</h1>
            ${allEvents.map(item => 
                `
                <form class="browse" method="POST" >
                    <input name="eventID" value="${item.event_id}" hidden>
                    <input name="eventName" value="${item.event_name}" hidden>
                    <div class="card text-center col-md-6">
                    <div class="card-header bg-transparent">
                        ${item.event_description}
                    </div>
                        <h5>
                            Location:
                        </h5> 
                            <p>
                                ${item.event_location}
                            </p>
                            <br>
                        <h5>
                            Time:
                        </h5>
                            <p>
                                ${item.event_time}
                            </p>
                            <br>
                        <h5>
                            Description:
                        </h5> 
                            <p>
                                ${item.event_description}
                            </p>
                        </p>
                        <input class=button type="submit" value='View Event Tasks'/>

                            </div>
                <br>
                </form>
                `
                ).join('')}
        </div>
</body>
</html>