<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
<!-- aylor -->
    <a href="/profile">Home</a>
    <a href="/about">About</a>
</nav>
<body>

  <h1 class="text-center">Create Event</h1>

    <section>
      <form method="POST">
        <div class=labels>
          <label>
            Event Name:
            <input name="eventName">
          </label>
          <br>
          
          <label>
            Event Location:
            <input name="eventLocation">
          </label>
          <br>
      
          <label>
            Event Date:
            <input name="eventDate", type="date" >
          </label>
          <br>
      
          <label>
            Event Time:
            <input name="eventTime", type="time">
          </label>
          <br>
      
          <label>
            Event Description:
              <input name="eventDescription">
          </label>
          <br>
            <input class="button" type="submit">
        </div>
      </form>
      
    </section>
</body>
</html>