<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>
          First Name:
          <input name="name" value="">
        </label>
        <br>
        <label>
          Last Name:
          <input name="name" value="">
        </label>
        <br>
        <label>
          Password:
          <input type="date" name="birthdate" value="" placeholder="1999-12-31">
        </label>
        <br>
        <input type="submit">
      </form>
</body>
</html>