<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How can I help?</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
    <a href="/profile">Home</a>
    <a href="/about">About</a>
</nav>
<body>
    <section>
        <div>
            <h1>HOW CAN I HELP?</h1>
            <h2>Where organizations and volunteers engage.</h2>
            <div class="buttonz">
                <a href="/login"><button class="button">Login</button></a>
                <a href="/signup"><button class="button">Create an Account</button></a>
        </div>
        </div>
        <div class="partners">Created by : 
            <a href="https://github.com/aylorbrown" target="_blank">Aylor Brown,</a>  
            <a href="https://github.com/evanscatie" target="_blank">Catie Evans,</a> 
            <a href="https://github.com/Travis-Franklin" target="_blank">Travis Franklin</a>
     </div>
    </section>



</body>
</html>