<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
  <a href="/profile">Home</a>
  <a href="/about">About</a>
</nav>
<body>

  <h1 class="text-center">Create an Account</h1>


  <p class="error-msg">
    ${errorMsg}
  </p>

  <section>
  <form method="POST">
    <div class="labels">
      <label>
        First Name:
        <input name="firstName">
      </label>
      <br>
  
      <label>
        Last Name:
        <input name="lastName">
      </label>
      <br>
  
      <label>
        Organization:
        <input name="organization" type="text">
      </label>
      <br>
  
      <label>
        Email:
          <input name="email" type="text">
      </label>
      <br>
  
      <label>
        Phone Number:
        <input type="text" name="phoneNumber">
      </label>
      <br>
  
      <label>
        Username:
        <input type="username" name="username" required>
      </label>
      <br>
      
      <label>
        Password:
        <input type="password" name="password"  required >
      </label>
      <br>
  
      <input class="button" type="submit" value="login" >
    </div>
  </form>
  </section>

</body>
</html>