<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
</head>
<nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
<body>
    <h1>
        VIEW MY TASKS
    </h1>
</body>
</html>